

#navbar ul  li  a {
  
    padding: 1px 5px;
    border-radius: 6px;
  
    font-size: 1rem;
}

#logo {
    margin: 8px 9px;
    
    
    font-size: 1.5rem;
  
}

#las img {
    height: 146px;
}
    
div.box {
    width: 191px;
    height: 148px;}
    #services img {
        width: 192px;
    }

    #home{
        padding: 2px 7px;
        height: 234px;
    }

    #logo img {
        width: 53px;
        margin: 0px 2px;
    }

    #navbar {
        display: flex;
        /* align-items: center; */
        position: sticky;
        /* justify-content: space-between; */
        flex-direction: column;
    }
    
    
#home h1 {
    padding: 1px;
    font-size: 1.4rem;
    color: lawngreen;
}

#home p {
    color: white;
    padding: 5px;
}

#contact-box input, #contact-box textarea {
    width: 100%;
    font-size: 0.6rem;
    border-radius: 8px;
    padding: 2px;
}

#contact-box label {
    font-size: 0.8rem;
    font-family: 'Bree Serif', serif;
}

/* Utility classes */

.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 1rem;
    padding: 9px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    padding: 8px;
    font-size: 0.9rem;
}

.btn {
    border: 2px solid black;
    color: whitesmoke;
    padding: 1px 4px;
    font-weight: bold;
    font-size: 0.5rem;
    font-family: 'Bree Serif', serif;
    margin-top: 30px;
    border-radius: 9px;
    background-color: red;
    cursor: pointer;
}